.page-header
  = link_to new_collection_path, class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-plus
    New Collection
  %h1 Listing collections

.table-responsive
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th Name
        %th Description
        %th
        %th
        %th

    %tbody
      - @collections.each do |collection|
        %tr
          %td= collection.name
          %td= collection.description
          %td= link_to 'Show', collection
          %td= link_to 'Edit', edit_collection_path(collection)
          %td= link_to 'Destroy', collection, data: { confirm: 'Are you sure?' }, method: :delete
