= form_for [@collection, @collection_item], html: { class: "form-horizontal", role: "form" } do |f|
  -if @collection_item.errors.any?
    .alert.alert-danger.alert-dismissable{role: "alert"}
      %button.close{type: "button", data: {dismiss: "alert"} }
        %span{aria: {hidden: "true"} } &times;
        %span.sr-only Close
      %h4= "#{pluralize(@collection_item.errors.count, "error")} prohibited this collection_item from being saved:"

      %ul
        - @collection_item.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :collectible, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :collectible, class: 'form-control'
  .form-group
    = f.label :collectible_type, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :collectible_type, class: 'form-control'
  .form-group
    .col-sm-offset-2.col-sm-10
      = f.submit class: 'btn btn-primary'
