.page-header
  = link_to new_collection_collection_item_path(@collection), class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-plus
    New Collection item
  %h1 Listing collection_items

.table-responsive
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th Collection
        %th Collectible
        %th Collectible type
        %th
        %th
        %th

    %tbody
      - @collection_items.each do |collection_item|
        %tr
          %td= collection_item.collection
          %td= collection_item.collectible
          %td= collection_item.collectible_type
          %td= link_to 'Show', collection_item
          %td= link_to 'Edit', edit_collection_item_path(collection_item)
          %td= link_to 'Destroy', collection_item, data: { confirm: 'Are you sure?' }, method: :delete
