.page-header
  = link_to collection_items_path, class: 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt
    Back
  = link_to edit_collection_item_path(@collection_item), class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-pencil
    Edit
  %h1 Show collection_item

%dl.dl-horizontal
  %dt Collection:
  %dd= @collection_item.collection
  %dt Collectible:
  %dd= @collection_item.collectible
  %dt Collectible type:
  %dd= @collection_item.collectible_type
