= form_for @movie, html: { class: "form-horizontal", role: "form" } do |f|
  -if @movie.errors.any?
    .alert.alert-danger.alert-dismissable{role: "alert"}
      %button.close{type: "button", data: {dismiss: "alert"} }
        %span{aria: {hidden: "true"} } &times;
        %span.sr-only Close
      %h4= "#{pluralize(@movie.errors.count, "error")} prohibited this movie from being saved:"

      %ul
        - @movie.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :title, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :title, class: 'form-control'
  .form-group
    = f.label :year, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.number_field :year, class: 'form-control'
  .form-group
    = f.label :genre, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :genre, class: 'form-control'
  .form-group
    = f.label :country, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :country, class: 'form-control'
  .form-group
    .col-sm-offset-2.col-sm-10
      = f.submit class: 'btn btn-primary'
