.page-header
  = link_to new_movie_path, class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-plus
    New Movie
  %h1 Listing movies

.row
  = form_for :search, url: movies_path, method: :get, html: { class: "form-group" } do |f|
    .input-group
      = f.text_field :title, value: (params[:search][:title] if params[:search]), placeholder: "Search Movies", class: "form-control"
      .input-group-btn
        = button_tag type: :submit, class: "btn btn-default" do
          %span.glyphicon.glyphicon-search

.table-responsive
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th Title
        %th Year
        %th Genre
        %th Country
        %th
        %th
        %th

    %tbody
      - @movies.each do |movie|
        %tr
          %td= movie.title
          %td= movie.year
          %td= movie.genre
          %td= movie.country
          %td= link_to 'Show', movie
          %td= link_to 'Edit', edit_movie_path(movie)
          %td= link_to 'Destroy', movie, data: { confirm: 'Are you sure?' }, method: :delete
