.page-header
  = link_to movies_path, class: 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt
    Back
  = link_to edit_movie_path(@movie), class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-pencil
    Edit
  %h1 Show movie

%dl.dl-horizontal
  %dt Title:
  %dd= @movie.title
  %dt Year:
  %dd= @movie.year
  %dt Genre:
  %dd= @movie.genre
  %dt Country:
  %dd= @movie.country
